/* main {
    margin-left: 200px;
} */

#home-container {
  padding: 30px 30px 30px 180px;
}

#home-header {
  background-color: #00b0ff;
  height: 150px;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px;
}

#home-header > h1 {
  color: #fff;
  font-size: 3rem;
}

#home-content {
    margin: 30px auto;
    padding: 30px;
    width: 840px;
    height: 490px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px;
}