/* main {
    margin-left: 200px;
} */

#home-container {
    padding: 30px 30px 30px 180px;
}

#home-header {
    background-color: #00B0FF;
    height: 130px;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-header > h1 {
    color: #fff;
}