.tracker-header-container {
  width: 89%;
  background-color: #0091ea;
  color: white;
  font-family: sans-serif;
  border-radius: 1rem;
}

.tracker-header {
  padding: 3.5rem;
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
}

.tracker-header-tabs {
  padding-bottom: 3.5rem;
  display: flex;
  justify-content: space-evenly;
}
